
include AUTHORS.rst

include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

recursive-exclude docs *
recursive-exclude examples *
recursive-exclude tests *
recursive-exclude tmp *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
