pip==10.0.1
bumpversion==0.5.3
watchdog==0.8.3
flake8==2.6.0
tox==2.3.1
coverage==4.1
Sphinx==1.4.8
# Deployments should use packaged Cinder, but for dev we can install from git
git+https://github.com/openstack/cinder.git@stable/pike
grpcio-tools==1.12.0
readme_renderer==21.0
setuptools>=38.6.0
wheel>=0.31.0
twine>=1.11.0
