[global]
fsid = 97d49c0b-dead-beef-a039-f9c4d194d1c1
max open files = 131072
mon initial members = mon1,mon2,mon3
mon host = 172.31.100.1,172.31.100.2,172.31.100.3
public network = 172.31.100.0/16
cluster network = 192.168.100.0/24
rbd_default_features = 3

[osd]
osd mkfs type = xfs
osd mkfs options xfs = -f -i size=2048
osd mount options xfs = noatime,largeio,inode64,swalloc
osd journal size = 5120
